chess==1.11.2
csc376_franky @ git+https://github.com/radiang/csc376.git@ccbdf5556e6c4e010f4bcc221499127e3f9873f0
matplotlib==3.8.4
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.3.3
pydraughts==0.6.7
requests==2.32.5
roboticstoolbox-python==1.1.1
rtb-data==1.0.1
ruckig==0.15.3
scipy==1.16.3
spatialgeometry==1.1.0
spatialmath-python==1.1.14
swift-sim @ git+https://github.com/ContinuumRoboticsLab/swift-csc376.git@c18812ad65c06ff3a3263982dd514f93cc944d63
websockets==13.0.1